<mat-card class="perf-card">
  <h2>{{ isEditMode ? 'Modifier la tâche' : 'Nouvelle tâche' }}</h2>

  <form [formGroup]="form" (ngSubmit)="save()" class="perf-form">
    
    

    <div class="grid-row-2">
      

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tâches reautilisable</mat-label>
        <mat-select formControlName="reusable_task_id">
          @for (t of reusableTasks(); track t.id) {
            <mat-option [value]="t.id">{{ t.title }}</mat-option>
          }
        </mat-select>
       
      </mat-form-field>

      <mat-checkbox formControlName="reusable">
        Tâche réutilisable
      </mat-checkbox>

    </div>

    <div class="grid-row-2">
      

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Titre de la tâche</mat-label>
        <input matInput formControlName="title" placeholder="Ex: Concert live">
        @if (form.get('title')?.hasError('required')) {
          <mat-error>Requis</mat-error>
        }
        
      </mat-form-field>
      <div class="difficulty-section">
        <label>Difficulté</label>

        <div class="star-input">
            @for (star of getStarArray(); track star) {
            <mat-icon
                (click)="setDifficulty(star)"
                [class.filled]="star <= form.value.difficulty"
                class="star-icon">
                {{ star <= form.value.difficulty ? 'star' : 'star_border' }}
            </mat-icon>
            }
        </div>
      </div>

    </div>

    

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Priorité</mat-label>
            <input 
                matInput 
                type="number"
                formControlName="priority"
                min="1"
                step="1"
                pattern="[0-9]*"
            >
            @if (form.get('priority')?.hasError('min')) {
                <mat-error>Minimum 1</mat-error>
            }
    </mat-form-field>
   

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <div class="file-upload">

  <button mat-stroked-button type="button" (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
            Choisir un fichier
        </button>

        <span class="file-name" *ngIf="selectedFile">
            {{ selectedFile.name }}
        </span>

        <input
            #fileInput
            type="file"
            hidden
            (change)="onFileSelected($event)"
            accept="image/*,application/pdf"
        />

    </div>


    <div class="form-actions">
      <button mat-stroked-button type="button" routerLink="/tasks" class="action-btn cancel-btn">
        Annuler
      </button>
      
      <button mat-flat-button color="accent" type="submit" class="action-btn submit-btn" [disabled]="form.invalid">
        {{ isEditMode ? 'Enregistrer' : 'Créer' }}
      </button>
    </div>

  </form>
</mat-card>