<div class="reservation-container" *ngIf="!isLoading()">
  
  <nav class="reservation-tabs" *ngIf="reservations().length > 0">
    <button *ngFor="let res of reservations(); let i = index" 
            mat-button 
            [class.active-tab]="selectedRes()?.id === res.id"
            (click)="selectTab(i)">
      {{ res.reservation_name }}
    </button>
  </nav>

  <div class="content-layout">
    <aside class="sidebar">

      <button *ngIf="reservations().length > 0" 
          mat-stroked-button 
          (click)="onAdd()">
        {{ 'AJOUTER_RES' | translate }}
      </button>
      
      <ng-container *ngIf="selectedRes()">
        <button mat-stroked-button (click)="onModify()">{{ 'MODIFIER_RES' | translate }}</button>
        <button mat-stroked-button (click)="onDelete()">{{ 'ANNULER_RES' | translate }}</button>
      </ng-container>
    </aside>

    <main class="details-panel">
      <div class="empty-state" *ngIf="reservations().length === 0">
        <h2>{{ 'NO_RESERVATION' | translate }}</h2>
        <div class="action-cards">
          <button mat-raised-button color="primary" (click)="onAdd()">RESERVER HOTEL</button>
          <button mat-raised-button color="accent" (click)="onAdd()">RESERVER CAMPING</button>
        </div>
      </div>

      <div class="res-info" *ngIf="selectedRes()">
        <div class="text-info">
          <h1>BLANK {{ selectedRes().unit?.type | uppercase }}</h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetur...</p>
          <p><strong>Arrivée:</strong> {{ selectedRes().arrival_at | date }}</p>
        </div>
        
        <div class="image-box">
          <img [src]="selectedRes().unit_image_url" *ngIf="selectedRes().unit_image_url" alt="Unit">
          <div class="placeholder-cross" *ngIf="!selectedRes().unit_image_url"></div>
        </div>
      </div>
    </main>
  </div>
</div>
