<mat-card class="auth-card">
  <h2>Créer un compte</h2>

  <form (ngSubmit)="onSubmit(nameInput.value, emailInput.value, passwordInput.value, phoneInput.value, is_staff)">

    @if (error()) {
    <div id="error">
        {{ error() }}
    </div>
    }

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom</mat-label>
      <input #nameInput matInput type="name" >
      <mat-error >Nom requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input #emailInput matInput  type="email">
      <mat-error >Email invalide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Téléphone</mat-label>
      <input #phoneInput matInput  type="tel" >
      <mat-error >Numéro invalide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input #passwordInput matInput [type]="hidePassword ? 'password' : 'text'" >
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input #confirmPasswordInput matInput [type]="hideConfirmPassword ? 'password' : 'text'" >
      <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{ hideConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
     
    </mat-form-field>

    <mat-checkbox [checked]="is_staff" >
        Je suis un membre du staff
    </mat-checkbox>

      @if (is_staff) {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Spécialité</mat-label>
          <input matInput >
        </mat-form-field>
      }

    <button mat-raised-button color="primary" class="full-width" type="submit" >
      S'inscrire
    </button>
  </form>
  <div class="auth-footer">
    <span>Déjà un compte ?</span>
    <a mat-button color="accent" [routerLink]="['/login']">
      Se connecter
    </a>
  </div>
</mat-card>
