<mat-card class="perf-card">

  @if (isEditMode()) {
    <button mat-flat-button 
            type="button" 
            class="delete-btn-top" 
            (click)="onDelete()"
            [disabled]="isLoading()">
      <mat-icon>delete_forever</mat-icon> {{ 'ACCOMMODATIONS.FORM.DELETE' | translate }}
    </button>
  }
  <h2>{{ (isEditMode() ? 'ACCOMMODATIONS.FORM.TITLE_EDIT' : 'ACCOMMODATIONS.FORM.TITLE_NEW') | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="perf-form">
    
    @if (serverErrors().length > 0) {
      <div class="form-error">
        @for (error of serverErrors(); track $index) {
          <div>{{ error }}</div>
        }
      </div>
    }

    <div class="grid-row-2">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ACCOMMODATIONS.FORM.NAME' | translate }}</mat-label>
        <input matInput formControlName="name" placeholder="Ex: Grand Hôtel" maxlength="100" #nameInput>
        <mat-hint align="end">{{ nameInput.value.length }} / 100</mat-hint>
        @if (form.get('name')?.hasError('required')) { <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.REQUIRED' | translate }}</mat-error> }
        @if (form.get('name')?.hasError('maxlength')) { <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.MAX_LENGTH' | translate:{length: 100} }}</mat-error> }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ACCOMMODATIONS.FORM.CATEGORY' | translate }}</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="0">{{ 'ACCOMMODATIONS.DETAILS.CAMPING' | translate }}</mat-option>
          <mat-option [value]="1">{{ 'ACCOMMODATIONS.DETAILS.HOTEL' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'ACCOMMODATIONS.FORM.ADDRESS' | translate }}</mat-label>
      <input matInput formControlName="address" maxlength="255" #addrInput>
      <mat-hint align="end">{{ addrInput.value.length }} / 255</mat-hint>
      @if (form.get('address')?.hasError('required')) { <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.REQUIRED' | translate }}</mat-error> }
      @if (form.get('address')?.hasError('maxlength')) { <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.MAX_LENGTH' | translate:{length: 255} }}</mat-error> }
    </mat-form-field>

    <div class="grid-row-3">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ACCOMMODATIONS.FORM.COORDINATES' | translate }}</mat-label>
        <input matInput 
              placeholder="46.609, -72.704" 
              formControlName="coordinates">
        @if (form.get('coordinates')?.errors?.['pattern']) {
          <mat-error>
            {{ 'ACCOMMODATIONS.FORM.ERRORS.PATTERN' | translate }}
          </mat-error>
        }
      </mat-form-field>

      <div class="toggle-container">
        <mat-slide-toggle formControlName="shuttle">{{ 'ACCOMMODATIONS.FORM.SHUTTLE' | translate }}</mat-slide-toggle>
      </div>
      <div></div> 
    </div>

    <div class="grid-row-3">
      <div class="grid-row-2">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'ACCOMMODATIONS.FORM.TIME_CAR' | translate }}</mat-label>
          <input matInput type="time" formControlName="time_car">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'ACCOMMODATIONS.FORM.TIME_WALK' | translate }}</mat-label>
          <input matInput type="time" formControlName="time_walk">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ACCOMMODATIONS.FORM.COMMISSION' | translate }}</mat-label>
        <input matInput type="number" formControlName="commission" min="0" max="29.99">
        
        @if (form.get('commission')?.hasError('min')) {
          <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.MIN_COMMISSION' | translate }}</mat-error>
        }
        @if (form.get('commission')?.hasError('max')) {
          <mat-error>{{ 'ACCOMMODATIONS.FORM.ERRORS.MAX_COMMISSION' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button 
          mat-stroked-button type="button" 
          [routerLink]="isEditMode() ? ['/accommodations-details', accommodationId()] : ['/accommodations']"
          [queryParams]="{ category: getCategoryString(form.get('category')?.value) }"
          class="action-btn cancel-btn">
        {{ 'ACCOMMODATIONS.FORM.CANCEL' | translate }}
      </button>
      <button mat-flat-button color="accent" type="submit" class="action-btn submit-btn" [disabled]="form.invalid || isLoading()">
        {{ (isLoading() ? 'ACCOMMODATIONS.FORM.PROCESSING'
         : (isEditMode() ? 'ACCOMMODATIONS.FORM.SUBMIT_UPDATE' 
         : 'ACCOMMODATIONS.FORM.SUBMIT_SAVE')) | translate }}
      </button>
    </div>
  </form>
</mat-card>
