.details-container {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
}

.back-btn {
  margin-bottom: 20px;
  border: 2px solid var(--mat-sys-on-surface) ;
  font-weight: 700 ;
  border-radius: 10px ;
}

.units-header-btn {
  color: var(--mat-sys-primary);
  margin-bottom: 20px; 
}

.detail-card.horizontal-layout {
  display: flex;
  flex-direction: row; 
  background: var(--mat-sys-surface-container-low);
  border: 3px solid var(--mat-sys-on-surface);
  border-radius: 20px;
  overflow: hidden;
  min-height: 450px;
}

.info-section {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.content-padding {
  padding: 30px ;
}

.badge-row {
  margin-bottom: 10px;
}

.category-tag {
  background: var(--mat-sys-primary);
  color: white;
  padding: 4px 12px;
  font-weight: 900;
  font-size: 0.75rem;
  border: 2px solid var(--mat-sys-on-surface);
}

.acc-name {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 5px;
  text-transform: uppercase;
  line-height: 1;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #444;
  margin-bottom: 25px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 30px;
}

.stat-box {
  border: 2px solid var(--mat-sys-on-surface);
  padding: 10px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-box.active {
  background: #e3f2fd;
}

.stat-label {
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.stat-value {
  font-weight: 900;
  font-size: 1rem;
}

.book-btn {
  width: 100%;
  height: 55px;
  font-weight: 900 ;
  font-size: 1.2rem ;
  border: 2px solid var(--mat-sys-on-surface) ;
}

.image-section {
  flex: 1;
  border-left: 3px solid var(--mat-sys-on-surface); 
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .detail-card.horizontal-layout {
    flex-direction: column-reverse;
  }
  .image-section {
    border-left: none;
    border-bottom: 3px solid var(--mat-sys-on-surface);
    height: 250px;
  }
}

.edit-btn {
  background-color: #FFF ; 
  color: var(--mat-sys-primary) ;
  border: 2px solid #000 ;
  width: 100%;
}

.admin-actions {
  width: 100%;
}