<div class="full-height">
  <div class="admin-header" *ngIf="isAdmin">
      <button mat-flat-button 
              class="brutalist-add-btn" 
              [routerLink]="['/accommodations-form']"
              [queryParams]="{ category: (currentCategory$ | async) }">
        <mat-icon>add_circle</mat-icon> 
        <span>{{ 'ACCOMMODATIONS.ADD' | translate }}</span>
      </button>
    <div class="header-actions">
        <button mat-flat-button class="brutalist-add-btn" 
                [routerLink]="['/accommodations']" 
                [queryParams]="{ category: 'all' }"
                routerLinkActive="active-filter"
                [routerLinkActiveOptions]="{ exact: false }">
        {{ 'ACCOMMODATIONS.ALL' | translate }}
        </button>
        <button mat-flat-button class="brutalist-add-btn" 
                [routerLink]="['/accommodations']" 
                [queryParams]="{ category: 'hotel' }"
                routerLinkActive="active-filter">
        {{ 'ACCOMMODATIONS.HOTELS' | translate }}
        </button>
        <button mat-flat-button class="brutalist-add-btn" 
                [routerLink]="['/accommodations']" 
                [queryParams]="{ category: 'camping' }"
                routerLinkActive="active-filter">
        {{ 'ACCOMMODATIONS.CAMPINGS' | translate }}
        </button>
    </div>
  </div>

  <div class="accommodations-grid">
    <a *ngFor="let acc of accommodations$ | async" 
       [routerLink]="['/accommodations-details', acc.id]"
       class="card-link">
      
      <mat-card class="fest-card">
        <img [src]="'assets/placeholder-image.png'" 
             [alt]="acc.name" 
             class="nav-image">
        
        <div class="nav-label">
          <span class="title">{{ acc.name }}</span>
          <span class="sub-label">{{ acc.address }}</span>
        </div>
      </mat-card>
    </a>
  </div>

  <div class="main-display" *ngIf="(accommodations$ | async)?.length === 0">
    <p>{{ 'ACCOMMODATIONS.NOT_FOUND' | translate }}</p>
  </div>
</div>
