.brand-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  transition: box-shadow 0.2s ease-in-out;
  color: var(--mat-sys-primary);
}

.logo-link {
  text-decoration: none;
  color: inherit; 
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

button mat-icon {
  margin-right: 8px;
}
