.admin-wrapper {
  padding: 20px;
  font-family: sans-serif;
}



.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main-title { font-weight: bold; font-size: 24px; }

.section-group {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-title { font-size: 18px; margin-bottom: 15px; }

.card-custom {
  width: 320px;
  border: 2px solid #333 !important;
  border-radius: 15px !important;
  box-shadow: none !important;
}

.archive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 800px;
}

.date-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.btn-dashboard {
  border: 2px solid #333 !important;
  border-radius: 10px !important;
  margin-top: 20px;
}

.star-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: orange;
}

.comment-link {
  display: block;
  margin-top: 10px;
  color: #0056b3;
  text-decoration: underline;
}