<div class="admin-page">
  
  <header class="admin-top-bar">
    <button mat-stroked-button class="btn-new" [routerLink]="['/tasks/new']">
      <mat-icon>add</mat-icon>{{ 'TACHES.ADD_TASK' | translate }}
    </button>
    <h1 class="header-title">{{ 'TACHES.TABLEAU' | translate }}</h1>
    
  </header>

  <main>

    <mat-card class="filters-card">
      <div class="filters">

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>{{ 'TACHES.SSF.RECHERCHE' | translate }}</mat-label>
          <input
            matInput
            [value]="search()"
            (input)="updateQuery({ search: $any($event.target).value })">
        </mat-form-field>


        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>{{ 'TACHES.SSF.STATUS' | translate }}</mat-label>

          <mat-select
            [value]="status()"
            (selectionChange)="updateQuery({ status: $event.value })">

            <mat-option value="">{{ 'TACHES.SSF.ALL' | translate }}</mat-option>
            <mat-option value="ongoing">{{ 'TACHES.SSF.ongoing' | translate }}</mat-option>
            <mat-option value="completed">{{ 'TACHES.SSF.COMPLETER' | translate }}</mat-option>


          </mat-select>

        </mat-form-field>

        
        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>{{ 'TACHES.SSF.ORDERBY' | translate }}</mat-label>
          <mat-select
            [value]="orderBy()"
            (selectionChange)="updateQuery({ orderBy: $event.value })">
           
            <mat-option value="priority">{{ 'TACHES.SSF.PRIORITY' | translate }}</mat-option>
            <mat-option value="difficulty">{{ 'TACHES.SSF.DIFFICULTY' | translate }}</mat-option>
            <mat-option value="affectation">{{ 'TACHES.SSF.AFFECTATION' | translate }}</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>{{ 'TACHES.SSF.ORDER' | translate }}</mat-label>
          <mat-select
            [value]="order()"
            (selectionChange)="updateQuery({ order: $event.value })">

            <mat-option value="asc">ASC</mat-option>
            <mat-option value="desc">DESC</mat-option>

          </mat-select>
        </mat-form-field>

      </div>
    </mat-card>
    <section class="admin-section">
      
      <div class="task-list">

        @if(tasks().length === 0) {
          <p class="state-message">{{ 'TACHES.NOTFOUND' | translate }}</p>
        } 
        @for (task of tasks(); track task.id) {
          
          <mat-card class="fest-card">
            <mat-card-content class="card-content-layout">
              
              <div class="main-info">
                <h3>{{ task.title }}</h3>

                <p> nombre de'affectation: {{ task.affectations_count }}</p>
                @if(task.completed)
                {
                  <p>la tache est completé</p>

                }
                @else
                {
                  <p>la tache st en attente</p> 
                }
               
                <button mat-stroked-button class="btn-dash" [routerLink]="['/tasks', task.id]">
                  {{ 'TACHES.SHOW' | translate }}
                </button>

              </div>
              @if (isImage(task.file_url)) {
                  <div class="image-container">
                      <img 
                      [src]="task.file_url"
                      class="task-thumbnail"
                      alt="Image de la tâche"
                      />
                  </div>
              }
              <div class="action-section">
                <button class="icon-btn edit" (click)="handleEditClick(task.id!)" title="Modifier">
                    <mat-icon>edit_square</mat-icon>
                </button>
                <button class="icon-btn trash" (click)="handleClick(task.id!)" title="Supprimer">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
               
              
            </mat-card-content>
          </mat-card>

        }
      </div>
    </section>
  </main>
</div>

<ng-template #confirmDialogTemplate>
  <h2 mat-dialog-title>Supprimer cette affectation ?</h2>
  <mat-dialog-content>
    <p>Êtes-vous sûr de vouloir supprimer définitivement cette affectation ?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="true">Supprimer</button>
  </mat-dialog-actions>
</ng-template>