.admin-page {
  padding: 20px 40px;
  max-width: 1000px; 
  margin: 0 auto;    
}

.admin-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-title {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 800;
  text-align: center;
  flex: 1;
  color: var(--mat-sys-primary); 
}

.greeting {
  text-align: right;
  color: var(--mat-sys-primary);
  font-weight: 500;
}

.btn-new {
  border: 2px solid var(--mat-sys-primary) !important;
  color: var(--mat-sys-primary) !important;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fest-card {
  width: 100%; 
  margin-bottom: 25px;
  background: var(--mat-sys-surface-container-low);
  border: 2px solid var(--mat-sys-on-surface);
  border-radius: 15px;
  transition: all 0.2s ease;
}

.fest-card:hover {
  transform: translateX(5px); 
  box-shadow: 8px 8px 0px var(--mat-sys-primary);
}

.card-content-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px; 
}

.main-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px; 
}

.btn-dash {
  background-color: var(--mat-sys-primary-container) !important;
  color: var(--mat-sys-on-primary-container) !important;
  border: 2px solid var(--mat-sys-on-surface) !important;
  font-weight: bold;
  width: fit-content;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.task-thumbnail {
  height: 150px; 
  width: 250px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--mat-sys-outline-variant);
}