.task-list-page {
  padding: 20px 40px;
  max-width: 1000px; 
  margin: 0 auto;    
}

.task-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}