<mat-card class="auth-card">
  <h2>Connexion</h2>

  <form  (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email">
      <mat-error >Email invalide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput  [type]="hidePassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
     
    </mat-form-field>

  
    <button mat-flat-button color="accent" class="full-width" type="submit">
      Se connecter
    </button>
  </form>
  <div class="auth-footer">
    <span>Pas encore de compte ?</span>
    <a mat-button color="accent" [routerLink]="['/signup']">
      S'inscrire
    </a>
  </div>
</mat-card>
