.auth-card {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: white;
}

.full-width {
  width: 100%;

  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.auth-footer {
  margin-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}