
.admin-page {
  padding: 20px 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.admin-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-title {
  font-size: 2.2rem;
  margin: auto;
  font-weight: 800;
  text-align: center;
  color: var(--mat-sys-primary); 
}

.ticket-card {
  width: 100%;
  margin-bottom: 20px;
  background: var(--mat-sys-surface-container-low);
  border: 2px solid var(--mat-sys-on-surface);
  border-radius: 15px;
  transition: all 0.2s ease;
  overflow: hidden;
}

.ticket-card:hover {
  transform: translateX(5px);
  box-shadow: 8px 8px 0px var(--mat-sys-primary);
}

.card-content-layout {
  display: flex;
  padding: 0;
  min-height: 160px; 
}

.ticket-visual {
  width: 160px;
  position: relative;
  border-right: 2px solid var(--mat-sys-on-surface);
  flex-shrink: 0;
}

.ticket-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 8px;
  font-size: 0.65rem;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid black;
  text-transform: uppercase;
  z-index: 2;
}

.category-badge.simpleroom { background: #e0e0e0; color: black; }
.category-badge.doubleroom { background: #ffd700; color: black; }
.category-badge.familyroom { background: #add8e6; color: black; }
.category-badge.smallterrain { background: #90ee90; color: black; }
.category-badge.standardterrain { background: #3cb371; color: white; }
.category-badge.deluxeterrain { background: #2e8b57; color: white; }

.ticket-info {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--mat-sys-primary);
}

.date-info {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-info mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.ticket-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-left: 2px solid var(--mat-sys-on-surface);
  background: var(--mat-sys-surface-container-high);
}

.action-btn {
  transition: transform 0.2s;
}

.action-btn.edit:hover { color: var(--mat-sys-primary); transform: scale(1.2); }
.action-btn.delete:hover { color: var(--mat-sys-error); transform: scale(1.2); }

.filters-section {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  background: white;
  padding: 15px;
  border: 2px solid var(--mat-sys-on-surface);
  border-radius: 12px;
  box-shadow: 4px 4px 0px var(--mat-sys-on-surface);
}

.btn-new {
  border: 2px solid var(--mat-sys-primary) !important;
  color: var(--mat-sys-primary) !important;
  font-weight: bold;
}
